@import '../../Common/Styles/Variables.css';
@import '../../Common/Styles/RWD.css';

.workspace-profile-component {
  position: relative;
  .workspace-profile-picture {
    border-radius: 50%;
    width: $sm-workspace-profile-length;
    height: $sm-workspace-profile-length;
    @media (width >= $summary-boundary) {
      width: $workspace-profile-length;
      height: $workspace-profile-length;
    }
  }
}

