<section class="mbr-section--bg-adapted mbr-section--relative" id="footer1-8" style="background-color: rgb(235, 235, 236);">
    <div class="footer-copy" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="container">© 2016 Toppano Inc. All Rights Reserved &nbsp; &nbsp;❘ &nbsp;<a href="/terms" class="text-gray"><%= l('Terms of Use') %></a> &nbsp;❘ &nbsp;<a href="/privacy" class="text-gray"><%= l('Privacy Policy') %></a></div>
    </div>
</section>
