@import 'Variables.css';

.adjust-component {
  padding: 0 10px;

  .adjust-text {
    padding: 5px;

    p {
      color: $color-white;
      margin-bottom: 5px;
      cursor: default;
    }

    .adjust-value {
      background-color: $color-grey;
      padding: 0 5px;
    }
  }
}
