<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-w" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 100px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Welcome to Verpix ("Verpix," "we," "us," or "our")! Verpix provides a new experience of Motion Graph for you to share your creative idea through our platform to social network, website, blogger and even AD network, dedicated to provide best experience with you to interact with your customer. <br>Verpix is committed to respecting the privacy rights and concerns of all users of our service. As such, we have established and implemented this privacy statement to inform user about our service that we use and protect the information we collect. Our privacy policy explains how we and some of the companies we work with collect, use, share and protect information in relation to mobile App, web site, and any software provided on or in connection with our services, and your choices about the collection and use of your information.<br>By using our service you understand and agree that we are providing a platform for you to post content, including photos, comments and other materials, to the service and to share user content publicly. This means that other users may search for, see, use, or share any of your user content that you make publicly available through the service, consistent with the terms and conditions of this privacy policy and our terms of use.<br>Our policy applies to all visitors, users, and others who access the service.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-x" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">10.	WHAT INFORMATION DOES VERPIX COLLECT?</h4>
                            <p></p><ol>We do not collect personally identifiable information unless our visitors voluntarily provide it to us. We do, however, collect certain types of information and ask for personal information in certain circumstances, such as when you set up an account. The following sections describe what type of information we collect, when we collect it and how we use it.<br>（1）SETTING UP AN ACCOUNT<br>In order to use certain functionality of our sites, you will have to create a user account which is required you to submit certain personal information. When you register and create an account, we require you to provide us your name and email address as well as a user name that you select. We also ask for certain information such as your age, birthdate, gender and interests. Upon activating an account, you will select a user name and password. Your user name and password will be used so you can securely access and maintain your account.<br>（2）PERSONAL DATA<br>We collect personal data (such as account names, E-mail and password) from our visitors when, for example, they register to participate in the Service or opt to receive information from us with concern to the Service. <br>（3）FRIEND INFORMATION<br>We offer contact importer tools to help you upload your friends’ addresses so that you can inform your friends on Verpix, and invite your contacts who do not have Verpix accounts to join. We will only use uploaded contacts to match friends on Verpix and will Not store this information on our server. If you give us your password to retrieve those contacts, we will not store your password after you have uploaded your contacts’ information.<br>（4）FACEBOOK CONNECT<br>If you choose connect your facebook account during register or after, Verpix will provide options for you to post recommendation on your timeline or import your name,E-mail, profile picture, places you checked-in..etc. We will Not store your facebook password after you connect with facebook. In the future you could also choose to import facebook friends and other information.<br>（5）SHARING LOCATION<br>Verpix will not share your location with friends or strangers. Verpix only use your smart phone GPS to locate the place you want to recommend instead of exposure your location to others. You could check/edit/delete all previous recommendations under your account after registered. If you have any reason want to terminate your account, all record will be removed from our server.<br>（6）VIEWING WEB PAGES<br>As with most web sites, your computer sends information that gets logged by a web server when you browse our Site. This typically includes your computer's IP address, operating system, browser name/version, the referring web page, requested page, date/time, and sometimes a "cookie" to help the site remember your last visit. It is reminded that the information is associated with your personal account when you logged in. The information is also included in anonymous statistics to allow us to understand how visitors use our site.<br>（7）COOKIES<br>We may from time to time implement "cookies" or other features to allow us or third parties to collect or share information in order to help us improve our Site we offer, help us offer new services and features. A cookie is a small amount of data that often includes an anonymous unique identifier sent to a user's browser from a Web server and stored on a user's computer hard drive. Usage of a cookie is in no way linked to any personal information about you. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of our Site.<br>（8）VIEWING AND DOWNLOADING CONTENT AND ADVERTISING<br>As with browsing web pages, when you watch content and advertising or download software or other content on our Site, most of the same information is sent to us (including, IP Address, operating system, etc.); but, instead of page views, your computer sends us information in the content, advertisement or content viewed or installed by the Verpix and the website. Additionally, we will collect information regarding with the software you have installed and uninstalled on your computer and what time you start and stop viewing the content.<br>（9）AGGREGATED INFORMATION<br>This site collects Aggregated Information, for instance, on the pages that visitor's view. We achieve this by logging visitor's IP addresses as they look through the site. IP addresses are allocated to your computer when you 'surf' the internet and they provide us with no personally identifiable information about you. Tracking anonymous IP addresses assists us with the day-to-day maintenance of the site to ensure that our visitor's gain the most efficient access to the Service. Collective information also assists us in working out the number and nature of visitors that we receive which allows us to customize the site to best suit our audience.<br></ol><p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-y" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">2.	COMMUNITY &amp; SUPPORT</h4>
                            <p>As stated above, we use your personal information such as your name, user ID and email address to maintain your user account. We also will use your email address to contact you when we provide customer support and to inform you when another user has sent you a private message or posted a comment for you on the website.<br>In addition, we may also use your email address to send you information, unless you choose not to be included, to alert you to offerings from other companies that we are affiliated with. We will not ever sell your email address or send you offerings to companies that we are not affiliated with.<br>We may also provide aggregated information about our visitors to outside parties. We may use the information we collect to tailor your experience through the sites by displaying content according to your interests and preferences, providing a faster method for you to access your account and submit information to us and allowing us to contact you, if necessary.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-z" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">4.	HOW DO WE PROTECT CUSTOMER INFORMATION?</h4>
                            <p>We implement a variety of security measures to ensure the security of your personal information on our systems. User personal information is contained behind secured networks and is only accessible by a limited number of employees who have special access rights to such systems. We continue to store your personal information for so long as it is necessary to provide you our service and currently do not anticipate destroying old personal information. In most cases, we will at a minimum keep one archival copy of your information to allow us to comply with laws or respond to legal processes.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-10" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">5.	DO WE DISCLOSE THE INFORMATION IT COLLECTS FROM ITS VISITORS TO OUTSIDE PARTIES?</h4>
                            <p>We will never sell or rent your email address or any of your personal information to our strategic partner. Unless we get your explicit approval in advance, we will only share your personal information with our strategic partner as we believe is necessary to:<br>keep you updated, respond to, confirm or fulfill your requests, and notify you of service issues and unusual account actions; enforce our Terms of Service; protect personal safety and the rights, property or safety of others; comply with laws or respond to legal processes; allow for a change of ownership of Verpix and associated transfer of all personal information to the new owner of Verpix, in which case your information still remains protected under this Privacy Policy; allow third party suppliers, vendors, contractors and other parties to provide products and services to us or to you, or to otherwise act on our behalf (this may include, without limitation, us authorizing such third parties to email our users regarding updates, surveys and other inquiries regarding their experience with the Verpix client and service); allow for advertising and other audits, and surveys to, among other things, validate the size and composition of the gaming audience, and understand its experience with the Verpix client and service. This may require, among other things, disclosing your viewing history and/or disclosing records showing which contents were viewed by which IP addresses. We will also share statistical and demographic information about our users and their use of the Verpix with suppliers of advertisements and programming. This would not include anything that could be used to identify you or to discover individual information about you.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-11" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">6.	NO INFORMATION FROM CHILDREN UNDER AGE 13</h4>
                            <p>If you are under age 13, please do not attempt to register for Verpix or provide any personal information about yourself to us. If we learn that we have collected personal information from a child under age 13, we will delete that information as quickly as possible. If you believe that we might have any information from a child under age 13, please contact us through this Email (Verpix@toppano.in)<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-12" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">7.	PARENTAL PARTICIPATION</h4>
                            <p>We strongly recommend that minors 13 years of age or older ask their parents for permission before sending any information about themselves to anyone over the Internet and we encourage parents to teach their children about safe internet use practices.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-13" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">8.	WHAT THIS PRIVACY POLICY COVERS</h4>
                            <p>This Privacy Policy only relates to this website and mobile App(Verpix). We may from time to time link to other web sites controlled by other organizations. These organizations have their own practices in relation to information over which we have no ownership or control and for which we accept no responsibility.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-14" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">9.	NOTIFICATION OF CHANGES</h4>
                            <p>By visiting the Site, you consent to the collection and use of information by us as set forth in this privacy statement. If we decide to change our privacy statement, we will post those changes within this page so our users are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
