$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #C22D40;
$color-grey: #7F7F7F;
$color-green: #72c02c;
$color-green-dark: #327000;
$color-transparent-black: rgba(0, 0, 0, 0.5);
$color-transparent-white: rgba(255, 255, 255, 0.5);

$color-main-bg: #EBEBEC;

$font-family-main: source-sans-pro, '微軟正黑體', 'Microsoft JhengHei', 'cwTeXHei', sans-serif;

/* Variables for breakpoints */
$bp-xs-sm: 768px;
$bp-sm-md: 992px;
$bp-md-lg: 1200px;
