.editor-component {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  > * {
    height: 100%;
  }

  .editor-main {
    flex-grow: 1;

    .main-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .editor-sidebar {
    width: 300px;
  }
}
