.share-embed-component {
  .inputs-wrapper {
    * {
      display: inline-block;
      font-size: 14px;
    }

    input {
      width: 60px !important;
      height: 30px;
      max-width: 40%;
    }
  }

  .preview-btn-wrapper {
    margin-top: 15px;
  }
}
