@import 'Variables.css';

.share-embed-component {
  .inputs-wrapper {
    * {
      display: inline-block;
      font-size: 14px;
    }

    input {
      width: 60px !important;
      height: 30px;
      max-width: 40%;
    }
  }

  .preview-btn-wrapper {
    margin-top: 15px;
  }

  .preview-player {
    max-width: 100%;
    display: none;
    &.active {
      display: flex;
      border: 1px dashed $color-grey;
    }

    .livephoto-component {
      max-width: 100%;
    }
  }

  .share-embed-btn {
    margin: 0 10px;
  }
}
