@import 'Variables.css';

.file-loader-component {
  .dropzone {
    background-color: #2C2C2C;
    transition: background-color 0.3s linear;
    &.isDragged {
      background-color: #4C4C4C;
    }

    .file-loader-btn {
      transform: translateY(-50px);
      width: 120px;
      transition: background-color .3s ease;
      &:hover {
        background-color: #D22D40;
      }
    }

    p {
      transform: translateY(-50px);
      color: $color-white;
      font-size: 18px;
    }
  }
}
