@import 'Variables.css';

.menu-item-component {
  background-color: $color-grey;
  margin-right: 15px;
  transition: background-color .3s ease;
  &:hover {
    background-color: $color-red;
  }
  &.active {
    background-color: $color-red;
  }
}
