@import 'Variables.css';

.frame-trimmer-handle-component {
  border: 2px solid $color-green !important;
  transition: border-color .3s !important;
  &:hover, &:active {
    border-color: $color-green-dark !important;
  }

  .handle-value {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #e5e5e5;
  }
}
