.frame-carousel-component {
  .frame-carousel {
    position: relative;
    width: 100%;
    background-color: #CCC;
    padding: 30px 15px 15px 15px;

    .swiper-scrollbar {
      .swiper-scrollbar-drag {
        cursor: pointer;
      }
    }
  }
}
