@import 'Variables.css';

$border-color: #E8AA25;
$border-width-thin: 1px;
$border-width-thick: 3px;
$divider-border: solid $border-width-thin $border-color;
$mark-color: #999;
$mark-small: 3px;
$mark-large: 10px;

.frame-carousel-item-component {
  position: relative;
  padding: 3px;
  padding-left: 0;
  &:first-child {
    padding-left: 3px;
  }
  background-color: $color-black;

  .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .dividers-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .divider {
      height: 100%;
      position: relative;

      .marker {
        border-right: $mark-color solid 1px;
        background-color: transparent;
        position: absolute;
        top: -$mark-small;
        left: 0;
        width: 100%;
        height: $mark-small;
        &.large {
          height: $mark-large;
          top: -$mark-large;
        }

        .counter {
          position: absolute;
          right: 0;
          top: -13px;
          font-size: 10px;
          color: $mark-color;
          transform: translateX(50%);
        }
      }

      .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        &.active {
          background-color: transparent;
          border-top: $divider-border;
          border-bottom: $divider-border;
          cursor: move;
          &.active-first {
            border-left: $divider-border;
            cursor: col-resize;
          }
          &.active-last {
            border-right: $divider-border;
            cursor: col-resize;
          }
          &.highlighted {
            border-width: $border-width-thick;
          }
        }
      }
    }
  }
}
