@import 'Variables.css';

.frame-carousel-component {
  transition: opacity .3s ease;
  &.disabled {
    opacity: 0
  }

  .frame-carousel {
    position: relative;
    width: 100%;
    padding-bottom: 40px;

    .swiper-scrollbar {
      .swiper-scrollbar-drag {
        cursor: pointer;
      }
    }
  }
}
