.edit-item-component {
  padding-bottom: 15px;

  .panel-heading {
    padding-left: 0;
    padding-right: 0;

    i.pull-right {
      top: 5px;
      position: relative;
    }
  }

  .content-wrapper {
    margin-top: 10px;
  }
}
