@import 'Variables.css';

.edit-item-settings-component {
  .autoplay {
    .panel-title {
      color: #AAA;
      cursor: default;
    }

    .rc-switch {
      border: none;
      &.rc-switch-checked {
        background-color: $color-green;
      }
    }
  }

  .btns-wrapper {
    display: flex;
    flex-flow: row wrap;
  }
}
