.share-embed-code-component {
  .title {
    color: #3b3b3b;
  }

  .text-wrapper {
    position: relative;

    textarea {
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: #585f69;
      background-clip: padding-box;
      border: 5px solid #585f69;
    }

    .text-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .6s cubic-bezier(.19, 1, .22, 1);
      &:hover {
        opacity: 0.5;
      }
      
      .copy {
        color: inherit;
      }
    }
  }

  .copied {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    opacity: 0;
    transition: opacity .3s linear;
    &.active {
      opacity: 1;
    }
  }
}
