<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-j" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 100px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20"><%= l('Terms of Use') %></h4>
                            <p><span style="letter-spacing: 0.5px; background-color: inherit;">Thank for you subscript Verpix ("Verpix," "we," "us," or "our")!, By accessing or using our website, service, or any applications (including mobile applications) provided by us (hereinafter referred to as the "Service"), however accessed, you agree to be bound by these terms of use (hereinafter referred to as the "Terms of Use"). These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.</span><br>There may be times when we offer a special feature that has its own terms and conditions that apply in addition to these Terms of Use. In those cases, the terms specific to the special feature control to the extent there is a conflict with these Terms of Use.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-k" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">BASIC TERMS</h4>
                            <p></p><ol style="padding: 0 15px;">
                                <li>You must be at least 13 years old to use the Service.</li>
                                <li><span style="letter-spacing: 0.5px; background-color: inherit;">You may not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service.</span></li>
                                <li>You are responsible for any activity that occurs through your account and you agree you will not sell, transfer, license or assign your account, followers, username, or any account rights. With the exception of people or businesses that are expressly authorized to create accounts on behalf of their employers or clients, we prohibit the creation of and you agree that you will not create an account for anyone other than yourself. </li>
                                <li>You also represent that all information you provide or provided to us upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</li>
                                <li>You agree that you will not solicit, collect or use the login credentials of other users.</li>
                                <li>You are responsible for keeping your password secret and secure.</li>
                                <li>You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.</li>
                                <li>You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations (for example, federal, state, local and provincial) applicable to your use of the Service and your Content, including but not limited to, copyright laws.</li>
                                <li>You are solely responsible for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship, applications, links and other content or materials that you submit, post or display on or via the Service.</li>
                                <li>You must not change, modify, adapt or alter the Service or change, modify or alter another website so as to falsely imply that it is associated with the Service.</li>
                                <li>You must not access Verpix's private API by means other than those permitted by us.</li>
                                <li>You must not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications (a/k/a "spam") to any users.</li>
                                <li>You must not use domain names or web URLs in your username without prior written consent from us.</li>
                                <li>You must not interfere or disrupt the Service or servers or networks connected to the Service, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature. You may not inject content or code or otherwise alter or interfere with the way any web page is rendered or displayed in a user's browser or device.</li>
                                <li>You must not create accounts with the Service through unauthorized means, including but not limited to, by using an automated device, script, spider, crawler or scraper.</li>
                                <li>You must not attempt to restrict another user from using or enjoying the Service and you must not encourage or facilitate violations of these Terms of Use or any other terms.</li>
                                <li>Violation of these Terms of Use may, in our sole discretion, result in termination of your account. You understand and agree that we cannot and will not be responsible for the Content posted on the Service and you use the Service at your own risk. If you violate the letter or spirit of these Terms of Use, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of the Service to you.</li>
                                <li>We reserve the right to modify or terminate the Service or your access to the Service for any reason, without notice, at any time, and without liability to you. You can deactivate your account by logging into the Service in management page. If we terminate your access or deactivate your account to the Service, your photos, comments, likes, friendships, and all other data will no longer be accessible through your account (e.g., users will not be able to navigate to your username and view your photos), but those materials and data may persist and appear within the Service (e.g., if your Content has been re-shared by others).</li>
                                <li>Upon termination, all licenses and other rights granted to you in these Terms of Use will immediately cease.</li>
                                <li>We reserve the right to refuse access to the Service to anyone for any reason at any time.</li>
                                <li>We reserve the right, in our sole discretion, to change these Terms of Use from time to time. Unless we make a change for legal or administrative reasons, we will provide reasonable advance notice before the Updated Terms become effective. </li>
                                <li>You agree that we may notify you of the Updated Terms by posting them on the Service, and that your use of the Service after the effective date of the Updated Terms (or engaging in such other conduct as we may reasonably specify) constitutes your agreement to the Updated Terms. Therefore, you should review these Terms of Use and any Updated Terms before using the Service. </li>
                                <li>The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Service from that point forward. These Terms of Use will govern any disputes arising before the effective date of the Updated Terms.</li>
                                <li>We reserve the right to force confiscate of any username for any reason.</li>
                                <li>You are solely responsible for your interaction with other users of the Service, whether online or offline. You agree that we are not responsible or liable for the conduct of any user. We reserve the right, but has no obligation, to monitor or become involved in disputes between you and other users. Exercise common sense and your best judgment when interacting with others, including when you submit or post Content or any personal or other information.</li>
                                <li>We may, but have no obligation to, remove, edit, block, and/or monitor Content or accounts containing Content that we determine in our sole discretion violates these Terms of Use.</li>
                                <li>There may be links from the Service, or from communications you receive from the Service, to third-party web sites or features. There may also be links to third-party web sites or features in images or comments within the Service. The Service also includes third-party content that we do not control, maintain or endorse. Functionality on the Service may also permit interactions between the Service and a third-party web site or feature, including applications that connect the Service or your profile on the Service with a third-party web site or feature. For example, the Service may include a feature that enables you to share Content from the Service or your Content with a third party, which may be publicly posted on that third party's service or application. Using this functionality typically requires you to login to your account on the third-party service and you do so at your own risk. </li>
                                <li>We do not control any of these third-party web services or any of their content. You expressly acknowledge and agree that we are in no way responsible or liable for any such third-party services or features. Your correspondence and business dealings with third partied found through the service are solely between you and the third party. </li>
                                <li>You may choose, at your sole and absolute discretion and risk, to use applications that connect the Service or your profile on the Service with a third-party service and such Application may interact with, connect to or gather and/or pull information from and to your Service profile. By using such Applications, you acknowledge and agree to the following: (i) if you use an Application to share information, you are consenting to information about your profile on the Service being shared; (ii) your use of an Application may cause personally identifying information to be publicly disclosed and/or associated with you, even if we have not itself provided such information; and (iii) your use of an Application is at your own option and risk, and you will hold the our Partiesharmless for activity related to the Application.</li>
                                <li>You agree that you are responsible for all data charges you incur through use of the Service.<br>31.	We prohibit crawling, scraping, caching or otherwise accessing any content on the Service via automated means, including but not limited to, user profiles and photos (except as may be the result of standard search engine protocols or technologies used by a search engine with our express consent).</li>
                            </ol><p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-l" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">CONTENT</h4>
                            <p>1.	If you make any content available on or through our service, you must give us permission to use, copy, modify and adapt that content. This permission must be irrevocable, and you must also let us permit other people to use, copy, modify and adapt your content.<br>2.	By sharing Content to publics to out of website, you hereby grant us a worldwide, non-exclusive, royalty-free, sub-licensable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Content in connection with the Service and our (and its successors' and affiliates') business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each user of the Service a non-exclusive license to access your Content through the Service, and to use, reproduce, distribute, display and perform such Content as permitted through the functionality of the Service and under these Terms of Service. The above licenses granted by you in any content you submit to the Service terminate within a commercially reasonable time after you remove or delete your content from the Service. You understand and agree, however, that we may retain, but not display, distribute, or perform, server copies of your content that have been removed or deleted. The above licenses granted by you in user comments you submit are perpetual and irrevocable.<br>3.	If you don‘t provide us this permission, do not make content available on or through our Service. Please think carefully before you make any content available, because it will be made public and might even be used by other people in a way you don‘t like. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party. In addition, we will not and cannot censor or edit the content of any third-party. By using the Service, you expressly relieve us from any liability arising from third-party.<br>4.	If you are going to make something available on or through our Service, it must not be offensive to people or illegal, it must be honest, and it must be your own creation. The types of things you must not make available using our Service include:<br>I. posts that include racist or homophobic language；<br>II. posts that are bullying or trolling；<br>III. posts that might damage our or another person‘s reputation;<br>IV. posts that include porn, advertising or someone else‘s creation or image;<br>V. posts that impersonate a moderator or try to trick or exploit people.<br>5.	Any content you make available on our Service must also be your creation. You must not make any content available, using the Service, which infringes the rights of anyone else. Therefore it is really important that you only make content available that you have created and you don‘t do so with any content created by anyone else. You further agree that Content you submit to the Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant us all of the license rights granted herein.<br>6.	We does not endorse any Content submitted to the Service by any user or other licensor, or any opinion, recommendation, or advice expressed therein, and we expressly disclaims any and all liability in connection with Content.<br>7.	If you post content on our Service, and we get challenged, threatened or sued by someone because the content infringes that persons rights, we may hold you responsible and that means you may have to pay us back for any damage we suffer as a result.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-m" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">OUR CONTENT</h4>
                            <p>1.	The Service contains Content specifically provided by Verpix or its partners and such Content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws, as applicable. You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the Service.<br>2.	Subject to these Terms of Use, we grant each user of the Site and/or Service a worldwide, non-exclusive, non-sub-licensable and non-transferable license to use, modify and reproduce the Content, solely for personal, non-commercial use. Use, reproduction, modification, distribution or storage of any Content for other than personal, non-commercial use is expressly prohibited without prior written permission from us, or from the copyright holder identified in such Content's copyright notice, as applicable. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial (whether or not for profit) use or in any way that violates any third party right.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-n" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">INTEGRATION AND SEVERABILITY</h4>
                            <p>These Terms of Use are the entire agreement between you and us with respect to the Service and use of the Site, Service, Content, User Submissions or Add-to Link, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and us with respect to the Site. If any provision of these Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms of Use will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. Waiver of compliance in any particular instance does not mean that we will waive compliance in the future. In order for any waiver of compliance with these Terms of Use to be binding, we must provide you with written notice of such waiver through one of its authorized representatives.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-o" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">WARRANTY DISCLAIMER</h4>
                            <p>1.	When you get a copy of our Service, we provide it ‘as is‘. Updates and upgrades are also provided ‘as is‘. This means that we are not making any promises to you about the standard or quality of our Service or that our Service will be uninterrupted or error free or for any loss or damage that they cause. We only promise to provide our Services with reasonable skill and care. We are also not obliged to provide ongoing support or maintenance of any Service. Of course, we hope to continue to release new updates for our Service, we just can‘t guarantee that we will do so.<br>2.	We makes no warranties or representations about the accuracy or completeness of this site’s content or the content of any sites linked to this site and assumes no liability for any:<br>I.	Errors, mistakes, or inaccuracies of content；<br>II.	Personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our services；<br>III.	Any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein；<br>IV.	Any interruption or cessation of transmission to or from our services；<br>V.	Any bugs, viruses, Trojan horses, or the like which may be transmitted to or through our services in any case.<br>VI.	Any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the services.<br>3.	We might make upgrades and updates available from time to time. We may also change this term of service from time to time but those changes will only be effective to the extent that they can legally apply. <br>4.	We may not be able to / don‘t need to tell you about the changes for them to have effect so you should check back here from time to time so you are aware of any changes to the terms of service. <br>5.	We‘re not going to be unfair about this though - but sometimes the law changes or someone does something that affects other users of the Service and we therefore need to put a lid on it.<br>6.	Save to the extent required by law, we have no special relationship with or fiduciary duty to you. You acknowledge that we have no control over, and no duty to take any action regarding: which users gain access to the Service; what Content you access via the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content.<br>7.	You release on our service from all liability for you having acquired or not acquired Content through the Service. The Service may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. We have no representations concerning any Content contained in or accessed through the Service, and we will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Service.<br>8.	You release us from all liability relating to your connections and relationships with other users. You understand that we do not, in any way, screen users, nor do we inquire into the backgrounds of users or attempt to verify their backgrounds or statements. We make no representations or warranties as to the conduct of users or the veracity of any information users provide. In no event shall we be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to the conduct of you or anyone else in connection with the Services, including, without limitation, bodily injury, emotional distress, and any damages resulting in any way from communications or meetings with users or persons you may otherwise meet through the Services. As such, you agree to take reasonable precautions and exercise the utmost personal care in all interactions with any individual you come into contact with through the Services, particularly if you decide to meet such individuals in person. For example, you should not, under any circumstances, provide your financial information (e.g., credit card or bank account numbers) to other individuals.<br>9.	Any warranties implied by an course of performance or usage of trade, all of which are expressly disclaimed, save to the extent required by law.<br>10.	TOPPANO INC., AND ITS DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE WEBSITE, SERVICE, CONTENT AND ADD-TO LINK IS SOLELY AT YOUR OWN RISK. SOME STATES / COUNTRIES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-p" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">LIMITATION OF LIABILITY</h4>
                            <p>ALL LIABILITY OF Verpix, ITS DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS HOWSOEVER ARISING FOR ANY LOSS SUFFERED AS A RESULT OF YOUR USE THE SITE, SERVICE, CONTENT, USER SUBMISSIONS OR ADD-TO LINK IS EXPRESSLY EXCLUDED TO THE FULLEST EXTENT PERMITTED BY LAW, SAVE THAT, IF A COURT OF COMPETENT JURISDICTION DETERMINES THAT LIABILITY OF TOPPANO INC., ITS DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS (AS APPLICABLE) HAS ARISEN, THE TOTAL OF SUCH LIABILITY SHALL BE LIMITED IN AGGREGATE TO ONE HUNDRED US DOLLARS ($100).<br>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL TOPPANO INC., NOR ITS DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY OR OTHERWISE (AND WHETHER OR NOT TOPPANO INC., ITS DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS HAD PRIOR KNOWLEDGE OF THE CIRCUMSTANCES GIVING RISE TO SUCH LOSS OR DAMAGE) WITH RESPECT TO THE SITE, SERVICE, CONTENT, USER SUBMISSIONS OR ADD-TO LINK FOR:<br>	INDIRECT OR CONSEQUENTIAL LOSSES OR DAMAGES;<br>	LOSS OF ACTUAL OR ANTICIPATED PROFITS;<br>	LOSS OF REVENUE;<br>	LOSS OF GOODWILL;<br>	LOSS OF DATA;<br>	LOSS OF ANTICIPATED SAVINGS;<br>	WASTED EXPENDITURE; OR<br>	COST OF PROCUREMENT OF SUBSTITUE GOODS OR SERVICES.<br>NOTHING IN THESE TERMS OF USE SHALL BE DEEMED TO EXCLUDE OR LIMIT YOUR LIABILITY IN RESPECT OF ANY INDEMNITY GIVEN BY YOU UNDER THESE TERMS OF USE. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, OUR LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.<br>SOLELY IN RESPECT OF USERS LOCATED IN EUROPEAN ECONOMIC AREA (EEA) AND/OR AUSTRALIA, NOTHING IN THESE TERMS OF USE SHALL BE DEEMED TO EXCLUDE OR LIMIT OUR OR YOUR LIABILITY (AS APPLICABLE) IN RESPECT OF:<br>	DEATH OR PERSONAL INJURY ARISING AS A RESULT OF OUR OR YOUR NEGLIGENCE (AS APPLICABLE);<br>	FRAUD (INCLUDING FRAUDULENT MISREPRESENTATION), THEFT OR OTHER CRIMINAL ACTIVITY<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-q" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">INDEMNIFICATION</h4>
                            <p>You shall defend, indemnify, and hold harmless Toppano Inc., its affiliates and each of its, and its affiliates employees, contractors, directors, suppliers and representatives from all losses, costs, actions, claims, damages, expenses (including reasonable legal costs) or liabilities, that arise from or relate to your use or misuse of, or access to, the Site, Service, Content, Add-to Link or otherwise from your User Submissions, violation of these Terms of Use, or infringement by you, or any third party using the your account, of any intellectual property or other right of any person or entity (save to the extent that a court of competent jurisdiction holds that such claim arose due to an act or omission of Verpix). We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses.<br>TERMINATION<br>We may terminate your access to all or any part of the Service and/or Add-to Link at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your membership. If you wish to terminate your account, you may do so on the Site. If the terms of service are terminated, you will no longer be allowed to use our Service. Any fees paid hereunder are non-refundable. All provisions of these Terms of Use which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-r" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">MISCELLANEOUS</h4>
                            <p>1.	We shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation (including "line-noise" interference). <br>2.	These Terms of Use are personal to you, and are not assignable, transferable or sub-licensable by you except with our prior written consent. We may assign, transfer or delegate any of its rights and obligations hereunder without consent. No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Use and neither party has any authority of any kind to bind the other in any respect.<br>3.	Unless otherwise specified in these Term of Use, all notices under these Terms of Use will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section--bg-adapted mbr-section--relative" id="msg-box11-s" style="background-color: rgb(255, 255, 255);">
    <div class="article elements-content" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase space20">MODIFICATION</h4>
                            <p>We reserve the right, at its sole discretion, to modify or replace any of these Terms of Use, or change, suspend, or discontinue the Service (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the Site or by sending you notice through the Service or via email. We may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Service following the posting of any changes to these Terms of Use constitutes acceptance of those changes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
