@import 'Variables.css';

.slider-component {
  background-color: $color-grey;

  .rc-slider-handle {
    border-color: $color-grey;
    background-color: $color-grey;
    transition: border-color .3s ease;
    &:hover, &:active {
      border-color: #555555;
    }
  }

  .rc-slider-track {
    background-color: transparent;
  }
}

.rc-tooltip-inner {
  background-color: $color-grey;
  box-shadow: none;
}
